#dialogBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 17rem;
    opacity: .6;
    background: rgb(27, 27, 27);
    border-radius: 5rem;
}
#dialogBox:hover{
    transition: 3s;
    opacity: 1;
}
#dialogText{
    font-size: 1.2rem;
    color: #d8247c;
}
#logoImg{
    width: 13rem;
    height: 13rem;
}
#startBtnDiv{
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    width: 6rem;
    height: 3rem;
    background: transparent;
}
#startBtn{
    opacity: .5;
    border: none;
    background: #1B79AC;
    font-size: 1rem;
    width: 6rem;
    height: 3rem;
}
#startBtn:hover{
    border-radius: 5rem;
    transition: 2s;
    background: #d8247c;
    opacity: 1;
}