@media (max-width : 600px) {
    html{
        font-size: 14px;
    }
}
@media (max-width : 500px) {
    html{
        font-size: 12px;
    }
}
@media (max-width : 400px) {
    html{
        font-size: 11px;
    }
}
